<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.kakao.sdk.auth">

    <application>
        <activity
                android:name=".TalkAuthCodeActivity"
                android:exported="false"
                android:launchMode="singleTask"
                android:theme="@style/TransparentCompat" />
        <activity
                android:name=".AuthCodeCustomTabsActivity"
                android:launchMode="singleTask"
                android:theme="@style/TransparentCompat" />
    </application>
</manifest>
